<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <title> <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="/css/spectre.min.css">

</head>
<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="btn btn-link btn-lg">
                <i class="icon icon-people"></i>
            </a>
            <a href="#" class="navbar-brand">Spectre.css</a>
        </section>
        <section class="navbar-section">
            <input type="text" class="form-input input-inline" placeholder="search" />
            <a href="#" class="btn btn-link">documents</a>
            <a href="#" class="btn btn-link">login</a>
            <a href="#" class="btn btn-primary">signup</a>
        </section>
    </header>
    <div class="container">
        <div class="columns">
            <div class="column col-xs-6">col-xs-6</div>
            <div class="column col-xs-3">col-xs-3</div>
            <div class="column col-xs-3">col-xs-3</div>
        </div>
    </div>

</body>
</html>